
.full {
    min-height: 88vh;
    height: 100%;
}
.bg-site{
    background-color: #2a2a2a;
}
.bg-header{
    background-color: #151515;
}
.bg-content{
    background-color: #1f1f1f;
}

a:visited {
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: lightsteelblue;
}
.adark{
    text-decoration: none;
    color: black;
}
.lineh{
    line-height: 20px;
}

